{{set . "title" "Show Post"}}
{{template "top.html" .}}

<div class="blog-post">
  <h2 class="blog-post-title">{{.post.Title}}</h2>
  <p class="blog-post-meta">{{formatDate .post.CreatedAt}}</p>

  <p>
    {{.post.HtmlBody}}
  </p>

  {{if isAdmin .currentUser}}
    <a href="{{url "Post.Destroy" .post.Id}}" class="btn btn-link btn-sm pull-right">Destroy</a>
    <a href="{{url "Post.Edit" .post.Id}}" class="btn btn-link btn-sm pull-right">Edit</a>
  {{end}}
</div>

<hr>
{{template "Comment/_comment.html" .}}
<hr>
<div class="well well-lg">
{{template "Comment/_form.html" .}}
</div>

<nav>
  <ul class="pager">
    <li><a href="{{url "Post.Index"}}">Back</a></li>
  </ul>
</nav>

{{template "bottom.html" .}}