<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    {{append . "moreStyles" "css/theme.css"}}
    {{append . "moreStyles" "css/blog.css"}}
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>  
  <body role="document" data-pinterest-extension-installed="cr1.35" data-feedly-mini="yes">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Jaehue' Blog</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="{{url "Post.Index"}}">Post</a></li>
            <li><a href="#contact">About</a></li>
          </ul>
          <div class="nav pull-right">
            {{if .session.username}}
            <p class="navbar-text"><a href="{{url "User.Edit"}}">{{.session.username}}</a></p>
            {{else}}
            <p class="navbar-text"><a href="{{url "User.CreateSession"}}">Login</a></p>
            {{end}}
          </div>
        </div>
      </div>
    </nav>
    {{template "flash.html" .}}