<div class="sidebar-module ">
  <a href="/">
    <img alt="Jaehue Jang - Web Application Developer" src="https://avatars2.githubusercontent.com/u/8924626?v=3&s=110" class="img-rounded">
  </a>
  <h4>Jaehue Jang</h4>
  <p> Jaehue Jang is an awesome Gopher </p>
  <h4>Links</h4>
  <ol class="list-unstyled">
    <li><a href="https://github.com/jaehue">GitHub</a></li>
    <li><a href="https://www.facebook.com/bbugguj">Facebook</a></li>
    <li><a href="https://twitter.com/jaehuejang">Twitter</a></li>
  </ol>  
</div>